<body>
    <h1>Cadastrar Música</h1>
    
  <form action="" method="post">
    
    <div>
        <label>Título da Música</label>
        <input type="text" name="Titulo" required> 
    </div>

    <div>
        <label>Artista</label>
        <input type="text" name="Artista" required>
    </div>

    <div>
        <label>Ano de Lançamento</label>
        <input type="number" name="AnoLancamento" required>
    </div>

    <div>
        <label>Duração (Minutos)</label>
        <input type="text" name="Duracao_Minutos" required>
    </div>

    <div>
        <label>Gênero</label>
        <input type="text" name="Genero">
    </div>

    <button type="submit">Salvar Música</button>
</form>
    <a asp-controller="Musica" asp-action="Index">Voltar</a>
</body>